.task_container{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    padding: 0 !important;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-bottom: 5px;
}
body{
    display: flex;
    background-color: rgb(26, 1, 48);
    justify-content: center;
    align-items: center;
    height: 100vh;

}
#sombra_roxa{
    position: absolute;
    filter: blur(200px); 
    background-color: rgba(137, 43, 226, 0.516);
    width: 500px;
    height: 400px;
    right: 0;
    bottom: 0;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
#sombra_roxa2{
    top: 0;      /* Alinha ao topo da tela */
    left: 0;     /* Alinha à esquerda da tela */
    position: absolute;
    filter: blur(200px); 
    background-color: rgba(137, 43, 226, 0.516);
    width: 500px;
    height: 400px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

#container{
    display: flex;
    flex-direction: column;
    padding: 2%;
    align-items: center;
    height: 500px;
    width: 400px;
    background-color: rgba(240, 248, 255, 0.351);
    border-radius: 3%;
    box-shadow: 1px 1px 40px rgba(255, 255, 255, 0.479);
}
h1{

    font-family: "Montserrat", sans-serif;
    color: rgb(199, 177, 204);
    font-size: x-large;
}
#novaTarefa{
    width: 80%;
    height: 7%;
    border-radius: 10px;
    border: none;
}
