body{
    background-color: #6C808C;
    background-size: cover;
    background-position: center;
    
}
:root {
    --azul-acinzentado: #9FB0BF;  
    --azul-claro: #B8CAD9;   
    --azul-escuro: #6C808C;        
    --branco: #F2F2F2;     
    --preto: #0d0d0d8a;
    --cinza: #dcdada;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
h1{
   
    margin-bottom: 10px;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
}

img {
    height: 25px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out; 
    margin: 8px;
    cursor: pointer;
   
}

.container {
    background-color: var(--cinza);
    width: 500px;
    border-radius: 10px; 
    padding: 20px;
    margin: 100px auto 0;
    position: relative;
    min-height: 300px;
    height: auto;
}

.input-task {
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 40px;
    padding-left: 10px;
    
}

.button-task {
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color: var(--azul-escuro);
    color: #ffffff;
    font-size: 13px;
    padding: 0 15px;
    float: right;
    cursor: pointer;
    margin-right: 10px;
    font-weight: 400;
}

.button-task:hover {
    opacity: 0.8;
}

.list-task {
    width: 100%;
    list-style: none;
    margin-top: 30px;
}

.task {
    background-color: var(--azul-acinzentado);
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2); /* Corrigido aqui */
    display: flex;
    height: 50px;
    align-items: center;
    padding: 0 10px; /* Espaçamento nas laterais */
    font-family: 'Arial', sans-serif; 
    font-size: 15px;
    margin-bottom: 10px;
    color: var(--preto);
}
.task:hover img{
    opacity: 1;

}
.done{
    background-color: var(--azul-claro)
}

.task p {
    margin-right: auto; /* Isso faz com que o texto vá para a esquerda */
}